/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "./assets/variables/colors";

body {
    background-color: $background;
    * {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
    }
}
